.icon-button {
  all: unset;
  cursor: pointer;
  padding: 2px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.icon-button img {
  height: 24px;
  width: 24px;
}

.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
