#navigation-container {
  height: 40px;
  background-color: rgb(237, 237, 237);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

#navigation-container .navigation-menu-options-container {
  margin-left: auto;
}

.navigation-title {
  font-weight: 700;
  font-size: 18px;
}

.navigation-invisible {
  height: 0px !important;
}

.navigation-invisible .icon-button {
  margin-top: 40px;
  z-index: 100;
}
