#card-container {
  position: relative;
  width: 140px;
}

#card-container::before {
  content: '';
  display: block;
  padding-top: 142.86%;
}

#card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#card-content img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
